/**
 * Default CSS for RAIHN Scheduling Application - Admin
 *
 * @author     Chevy Mac
 * @date       10/30/2017
 */


/***************************
 * * * * * COLORS * * * * * 
 *************************/
/*
    light-gray:      #D7D9DD
    background-gray: #F6F6F6
    light-blue:      #0E6AA8
    dark-blue:       #095487
 */

/***************************
 * * * * * ADMIN * * * * *
 ***************************/

h1{
    width: 60%;
	padding-top: 30px;
    margin: 0 auto;
	border-bottom: 1pt solid #d7d9dd;
}

#admin_container{
    width: 60%;
    margin: 0 auto;
	margin-top: 20px;
}

#adminLink{
	width: 60%;
	margin: 0 auto;
	font-size: 12px;
    padding-top:20px;
	margin-bottom: -20px;
	display: block;
}

#form{
	width: 640px;
}

table{
	background: white;
	border-spacing: 0;
    text-align: center;
	margin-top: 10px;
    width: 640px;
	margin-bottom: 50px;
}

td {
	height: 50px;
	border: 1px solid #BEBEBE;
	border-radius: 5px;
    font-size: 16px;
	text-align:left;
	padding-left: 20px;
}

input{
	background: #0E6AA8;
	color: white;
	border: 1px solid #BEBEBE;
	border-radius: 8px;
	height: 30px;
	margin-left: 3px;
}

#text, #fulltext, #heighttext{
	padding-left: 5px;
	background: white;
	color: black;
}

#right{
	margin-left: 95px;
}

#tb-right{
	margin-left: 340px;
}

#editright{
	margin-left: 425px;
	margin-bottom: 250px;
	width: 80px;
}

#fulltext{
	width: 60%;
}

#heighttext{
	padding-bottom: 50px;
}

#topButtons,
#botButtons {
	width: 58%;
	margin: 0 auto;
}

.admin_home_button{
	width: 10vw;
	height: 15vh;
	margin: 5vh 5vw 5vh 5vw;
	background-color: #0E6AA8;
	color: white;
	border-radius: 5px;
	text-align: center;
	line-height: 15vh;
	float: left;
}