/**
 * Admin CSS for RAIHN Scheduling Application
 *
 * @author     Chevy Mac
 * @author     Kristen Merritt
 * @version    Release: 1.0
 * @date       11/30/2017
 */

/***************************
 * * * * * COLORS * * * * * 
 *************************/
 
/*
    light-gray:      #D7D9DD
    background-gray: #F6F6F6
    light-blue:      #0E6AA8
    dark-blue:       #095487
 */

/***************************
 * * * * * ADMIN * * * * *
 ***************************/

h1{
    width: 60%;
	padding-top: 30px;
    margin: 0 auto;
	border-bottom: 1pt solid #d7d9dd;
}

#admin_container{
    width: 60%;
    margin: 0 auto;
	margin-top: 20px;
}

#adminLink{
	width: 60%;
	margin: 0 auto;
	font-size: 12px;
    padding-top:20px;
	margin-bottom: -20px;
	display: block;
}

#form{
	padding-top: 20px;
	width: 700px;
	margin: 0 auto;
}

#congregations {
	margin: 0 auto;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

table{
	background: white;
	border-spacing: 0;
    text-align: center;
	margin-top: 10px;
    width: 700px;
	margin-bottom: 50px;
}

td {
	height: 50px;
	border: 1px solid #BEBEBE;
	border-radius: 5px;
    font-size: 16px;
	text-align:left;
	padding-left: 20px;
}

input{
	background: #0E6AA8;
	color: white;
	border: 1px solid #BEBEBE;
	border-radius: 8px;
	height: 30px;
	margin-left: 3px;
}

.text, .fulltext, .heighttext{
	padding-left: 5px;
	background: white;
	color: black;
}

#right, .right {
	margin-left: 95px;
}

.tb_right1, .tb_right2{
	position: relative;
	float: right;
}

.tb_right1{
	right: 120px;
}

.tb_right2{
	right: -35px;
}

#editright, .editright{
	margin-left: 425px;
	margin-bottom: 10px;
	width: 80px;
}

.fulltext{
	width: 60%;
}

#heighttext{
	padding-bottom: 50px;
}

#topButtons,
#botButtons {
	width: 58%;
	margin: 0 auto;
}

.admin_home_button{
	width: 10vw;
	height: 15vh;
	margin: 5vh 5vw 5vh 5vw;
	background-color: #0E6AA8;
	color: white;
	border-radius: 5px;
	text-align: center;
	line-height: 15vh;
	float: left;
}

#genScheBut {
	margin-left: 6vw;
}

#admin_container input[type="button"]{
	border: none;
	padding-left: 7px;
	padding-right: 7px;
}

#date-container {
	width: 69%;
	margin: 0 auto;
	margin-bottom: 2vh;
}

#dateValues {
	border: 1pt solid #BEBEBE;
	border-radius: 5px;
	width: 15vw;
	height: 20vh;
	margin: 0 1vw 0 1vw;
}

#date-input, #dateArrowButton, #dateValues {
	float: left;
}

#dateArrowButton {
	min-width: 2.5vw;
}

#title{
	height: 50px;
	background: #0E6AA8;
	color: white;
}

#generate_schedule{
	border-collapse: collapse;
	font-size: 24px;
	margin-bottom: 20px;
}

#generate{
	width: 640px;
	margin-top: -20px;
	padding-top: 20px;
}

.genDate{
	width: 17%;
}

.genSche{
	text-align: center;
	width: 83%;
}

.genBtn{
	margin-bottom: 50px;
	font-size: 24px;
	height: 50px;
	width: 160px;
}

#genRight{
	margin-left: 310px;
}

/**************************
 * * * * * MOBILE * * * * *
 **************************/
 
/* Design for screen-width <= 1065px */
@media screen and (max-width:1065px) {
	.admin_home_button{
		width: 23vw;
		font-size: 3vw;
		margin: 1vh 1vw 1vh 1vw;
	}

	#admin_container{
		width: 90%;
	}
	
	#form{
		width: 350px;
	}

	#genScheBut{
		margin-left: 0vw;
		margin-top: 10px;
	}
	
	input{
		font-size: 12px;
		height: 25px;
	}
	
	table{
		width: 90vw;
	}

	td{
		height: 30px;
	}
	
	.text, .fulltext, .heighttext{
		font-size: 12px;
	}
	
	#dateValues{
		width: 30vw;
	}
	
	#editright, .editright{
		margin-left: 50vw;
	}

	#date-container{
		width: 90%;
	}	
}