/**
 * Default CSS for RAIHN Scheduling Application
 *
 * @author     Kristen Merritt
 * @author     Chevy 
 * @date       9/30/2017
 */


/***************************
 * * * * * COLORS * * * * * 
 *************************/
/*
    light-gray:      #d7d9dd
    background-gray: #F6F6F6
    light-blue:      ##0E6AA8
    dark-blue:       #095487
 */



/***************************
 * * * * * GENERAL * * * * *
 ***************************/
body 
{
    background-color:#F6F6F6;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

#container 
{
    position: relative;
    width: 70vw;
    margin: 0 auto;
    min-height: 76vh;  
    background: white;
}

#main_content {
    position: relative;
    min-height: 60vh;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/**************************
 * * * * * HEADER * * * * *
 **************************/
#header
{
	width: 100vw;
    min-height: 20vh;
    background-color:#0E6AA8;
    z-index: 99;
}

#logo_container {
    width: 275px;
    margin: 0 auto;
}

.logo
{
    height: 100px;
    width: 275px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

nav {
    height: 5vh;
    z-index: 100;
    width: 100vw;
    background-color: #095487;
}

#hidden_nav {
    display: none;
    position: absolute;
    background-color: #0E6AA8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-width: 20vw;
}

#hidden_nav li {
    min-width: 100%;
}

#scheduleNav:hover #hidden_nav{
    display: block;
}

nav ul {
    width: 40vw;
    margin: 0 auto;
}

nav ul li {
    position: relative;
    display: block;
    width: 20%;
    float: left;
    line-height: 5vh;
    margin-left: 0;
}

nav ul li a { 
    display: block;
    width: 100%;
    color: white; 
    margin: 0 auto;
    text-decoration: none;
}

/**************************
 * * * * * FOOTER * * * * *
 **************************/
#footer
{
    position: relative;
    width: 100%;
    height: 15vh;
}

#footer ul {
    list-style-type: none;
}

#footer h1 {
    color: #d7d9dd;
}

#footer ul li a {
    text-decoration: none;
    margin-bottom: 2px;
}

#footer a
{
    font-size: 15pt;
    margin-bottom: 5px;
    color: #d7d9dd;
}

#footer_container {
    position: relative;
    width: 60%;
    margin: 0 auto;
    border-top: 1pt solid #d7d9dd;
}

.footer_section {
    color: gray;
    float: left;
    margin-top: 10px;
    min-width: 20%;
}

.footer_section > h1 {
    text-align: center;
    font-size: 30pt;
}

#links {
    width: 60%;
}

#links_1, #links_2, #links_3 {
    width: 32.5%;
    margin: 0 auto;
    float: left;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}