body 
{
    background-color:#F6F6F6;
}

.header
{
	background-color:#0E6AA8;
}

.logo
{
	margin: auto; align: middle;
}

#footer
{
    list-style: none;
}

#footer li
{
	display:inline;
}

#footer a
{
	margin: 2%;
}

form 
{
    border: 3px solid #F1F1F1;
}

input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2
{
	margin-top: 0px;
	background-color: #0E6AA8;
    color: white;
    text-align: center;
    height: 60px;
    font-size: 50px;
}

button 
{
    background-color: #0E6AA8;
    font-size: 30px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover 
{
    opacity: 0.8;
}

.container 
{
    padding: 16px;
}