/**
 * Default CSS for RAIHN Scheduling Application Profiles
 *
 * @author     Chevy Mac
 * @date       10/12/2017
 */


/***************************
 * * * * * COLORS * * * * * 
 *************************/
/*
    light-gray:      #d7d9dd
    background-gray: #F6F6F6
    light-blue:      ##0E6AA8
    dark-blue:       #095487
 */

/***************************
 * * * * * PROFILE * * * * *
 ***************************/

#profile_h1
{
    width: 60%;
	padding-top: 30px;
    margin: 0 auto;
	border-bottom: 1pt solid #d7d9dd;
}

#profile_container
{
    width: 60%;
    margin: 0 auto;
}

button
{
	font-family: 'Arial';
	border-radius: 12px;
    background: white;
    font-size: 16px;
    margin-top: 10px;
	height: 50px;
	width: 200px;
    border: 2px solid #e7e7e7;
}

#required
{
    background: red;
	color: white;
}

#admin
{
	border-radius: 0px;
	margin-top: 20px;
	height: 125px;
	margin-left: 50px;
}

#admin:hover
{
	color: white;
	background: #0E6AA8;
}

#adminDiv
{
	text-align:right;
	margin-top: -310px;
	margin-bottom: 50px;
	width: 520px;
}

table
{
	background: white;
	border-collapse: collapse;
    text-align: center;
	margin-top: -170px;
    width: 350px;
	margin-bottom: 50px;
}

td 
{
	height: 70px;
	border: 3px solid #BEBEBE;
    font-size: 24px;
}

#title
{
	background: #0E6AA8;
	color: white;
}

#cong_tb
{
	height: 295px;
}
