/**
 * Schedule CSS for RAIHN Scheduling Application
 *
 * @author     Chevy Mac
 * @author     Kristen Merritt
 * @version    Release: 1.0
 * @date       11/16/2017
 */

/***************************
 * * * * * COLORS * * * * * 
 ***************************/
 
/*
    light-gray:      #D7D9DD
    background-gray: #F6F6F6
    light-blue:      #0E6AA8
    dark-blue:       #095487
	light-blue (v2): #B2D6EF
 */

/*****************************
 * * * * * SCHEDULES * * * * *
 *****************************/
 
.schedule-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

 /* Title for Schedules */
.header {
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
	border-bottom: 2pt solid #d7d9dd;
}

.table {
    position: relative;
    min-width: 40vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
	border-spacing: 0;
	font-size: 18pt;
}

.table th {
    background-color: #0E6AA8;
    color: white;
    font-size: 20pt;
}

.table td, .table tr, .table th {
    border: 1pt solid #d7d9dd;
	text-align: center;
}

.table tr {
    padding: 20px;
}

/**************************
 * * * * * MOBILE * * * * *
 **************************/
 
/* Design for screen-width <= 1065px */ 
@media screen and (max-width:1065px) {
	.table {
		width: 80vw;
	}
	
	.table th {
		font-size: 4vw;
	}

	.table {
		font-size: 3vw;
	}	
}