	</body>
	<footer>
	<ul style="list-style: none;">
		<li style="display:inline;"><a style="margin: 2%;">Contact</a></li>
		<li style="display:inline;"><a style="margin: 2%;">Login</a></li>
		<li style="display:inline;"><a style="margin: 2%;">Facebook</a></li>
		<li></li>
		<li style="display:inline;"><a style="margin: 2%;">About</a></li>
		<li style="display:inline;"><a style="margin: 2%;">Schedules</a></li>
		<li style="display:inline;"><a style="margin: 2%;">Twitter</a></li>
		<li></li>
		<li style="display:inline;"><a style="margin: 2%;">Help</a></li>
		<li style="display:inline;"><a style="margin: 2%;">raihn.org</a></li>
		<li style="display:inline;"><a style="margin: 2%;">rit.edu</a></li>
	</ul>
	</footer>
</ul>
</html>